form {
    background-color: #ffffff;
    /* same as body */
    padding: 2em;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    /* very light border */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
}


form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5em;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
}

label {
    color: #112D53;
    font-weight: 500;
}

form button {
    align-self: flex-end;
    padding: 0.8em 1em;
    background-color: #112D53;
    border: none;
    border-radius: 5px;
    color: #f9f9f9;
    cursor: pointer;
}

form h2 {
    color: #112D53;
}

.form-nilai {
    all: unset; /* reset almost all inherited styles */
    display: inline-flex; /* inline with text */
    align-items: center; /* vertically center input + button */
    gap: 4px; /* small space between input & button */
    margin: 0; /* remove margin */
}

.form-nilai input {
    all: unset; /* reset input styles */
    width: 1em;
    padding: 1em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-nilai button {
    all: unset; /* reset button styles */
    padding: 2px 6px;
    font-size: 0.85rem;
    background-color: #112D53;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
