@import url();
:root {
    --primary-color: #ffffff;       /* main background */
    --hover-color: #e0f0ff;         /* light blue hover effect */
    --accent-color: #4a90e2;        /* bright blue accent */
    --text-color: #333333;           /* dark text for readability */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    color: var(--text-color)
}

body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
}

nav {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--hover-color);
}

nav li {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav .home-li {
    margin-right: auto;
}

nav a {
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    padding: 1em 2em;
    transition: background-color 150ms ease;
}

nav a:hover {
    background-color: var(--hover-color);
}

nav a.accent-link {
    background-color: var(--accent-color);
}

nav a.active-link {
    border-bottom: 2px solid var(--text-color);
}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay {
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

@media screen and (max-width: 700px) {
    #open-sidebar-button, #close-sidebar-button {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-color);
    }
    nav.show {
        right: 0;
    }

    nav.show ~ #overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav a {
        width: 100%;
    }

    nav a.active-link {
        border-bottom: none;
    }

    nav .home-li {
        margin-right: unset;
    }
}